.singleData{
    display: flex;
    padding: 40px;
    gap: 112px;
    flex-wrap: wrap;
    justify-content: center;
}
.singleImage{
    height: 400px;
}

.singleDivImage{
    border: 2px solid rgb(230, 209, 209);
}

.textmrp{
    display: flex;
    gap: 20px;
}

.multiimage{
    display: flex;
}

.storage{
    display: flex;
    gap: 20px;
    
}

.delivery_Box{
    display: flex;
}

.singleDesc{
    font-weight: 700;
}

.stockText{
    color: rgb(245, 78, 78);
}

.₹{
    color: orange;
    font-weight: 700;
}

.mrp{
    text-decoration: line-through;
}

.concetion{
    border: 2px solid;
    padding:0px 7px;
    border-radius: 4px;
    background-color: rgb(232, 79, 79);
    color: white;
}

.color{
    color: black;
    font-weight: 700;
}

.gb8{
    border: 2px solid red;
    width: 50px;
    text-align: center;
    border-radius: 4px;

}

.gb32{
    border: 2px solid rgb(142, 139, 135);
    width: 70px;
    text-align: center;
}

.delivery_Box{
    display: flex;
    justify-content: space-between;
    padding: 8px ;
    margin-top: 10px;
    background-color: rgb(224, 217, 217);
}

input{
    background-color: rgb(224, 217, 217);

}

.textreplace{
    display: flex;
    padding: 8px;
    width: 600px;
    gap: 3px;
    margin-top: 20px;
}

.Replacement{
    padding: 10px;
    background-color:aquamarine;
    

}

.imageVarient{
    display: flex;
    gap: 10px;
}

.varientImage{
    height: 30px;
    width: 30px;
}

.borderVarient{
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
}

.pvalue{
    font-size: 10px;
}

.othervar{
    display: flex;
    gap: 10px;
}

.parentsingledata{
    display: flex;
    flex-direction: column;
    gap: 10px;
}